<ng-container *ngIf="auth == false">
    <div class="wrapper">
        <div class="sidebar" data-color="red" data-image="">
            <div  class="login-box card">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        <div class="logo-img">
                            <img src="/assets/img/angular2-logo-white.png"/>
                        </div>
                        Miss Line
                    </a>
                </div>
            </div>

        </div>
        <div class="main-panel">
            <app-login></app-login>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="auth">
    <div class="wrapper">

        <div class="sidebar" data-color="red" data-image="">
            <app-sidebar></app-sidebar>
            <div class="sidebar-background" style="background-image: url(assets/img/sidebar-5.jpg)"></div>
        </div>

        <div class="main-panel">
            <navbar-cmp></navbar-cmp>
            <router-outlet></router-outlet>
            <div *ngIf="isMap('maps')">
                <footer-cmp></footer-cmp>
            </div>
        </div>

    </div>
</ng-container>