<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Busqueda avanzada</h4>
                    </div>
                    <div class="row content table-responsive table-full-width">
                        <div class="col-md-4">
                            <span>Bebés</span>
                            <select #selectBabiesCatalog
                                    class="form-control"
                                    id="selectBabiesCatalog">
                                <option [value]="0">
                                    Todos
                                </option>
                                <option *ngFor="let item of babiesCatalog" [value]="item.id">
                                    {{item.value}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <span>Asistentes</span>
                            <select #selectAssistanCatalog
                                    class="form-control"
                                    id="selectAssistanCatalog">
                                <option [value]="0">
                                    Todos
                                </option>
                                <option *ngFor="let item of assistantsCatalog" [value]="item.id">
                                    {{item.value}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <span>Estatus</span>
                            <select #selectStatusCatalog
                                    class="form-control"
                                    id="selectStatusCatalog">
                                <option *ngFor="let item of statusCatalog" [value]="item.id">
                                    {{item.value}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button"
                                    class="btn btn-secondary"
                                    (click)="advancedSearch()">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Log de actividades</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <div class="content">
                              <input class="form-control" type="text" name="search" [(ngModel)]="baby_name" placeholder="Busqueda rápida por cualquier elemento de la tabla.">
                          </div>
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let col of headers">{{ col }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let activity of activityLogs | filter:baby_name | paginate: { itemsPerPage: 15, currentPage: p }">
                                        <td *ngFor="let col of index">
                                            {{activity[col]}}
                                        </td>
                                    </tr>
                                </tbody>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                          </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
